@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 100vw;
}

.container {
  border-radius: 4px;
  border: 1px solid #000;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
}

.action-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
}

.todo-input {
  padding: 0.7rem;
  font-size: 1rem;
  font-family: inherit;
}

.date-input {
  padding: 0.6rem;
  font-size: 1rem;
  font-family: inherit;
}

.add-todo {
  font-family: inherit;
  font-size: 1rem;
  background-color: green;
  color: #fff;
  padding: 1.1rem 3rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.todo-list-row {
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 225px 182px 115px;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  gap: 1rem;
}

.todo-list-row p {
  justify-self: center;
  align-self: center;
  font-size: 1rem;
}

.btn {
  justify-self: center;
  align-self: self-end;
  font-family: inherit;
  font-size: 1rem;
  background-color: rgb(187, 17, 17);
  color: #fff;
  padding: 1.1rem 2.3rem;
  cursor: pointer;
  border: none;
  margin-left: auto;
  border-radius: 3px;
}